*{
    font-family: 'Montserrat';
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
}

img{
    max-width: 100%;
    height: auto;
}

/* margin */
.m-l-10{
    margin-left: 10%;
}

.m-l-5{
    margin-left: 5%;
}

.m-t-3{
    margin-top: 3%;
}

.m-t-10{
    margin-top: 10%;
}

#sec01>.container-fluid{
    padding: 0 !important;
}

.menu{
    width: 100%;
    position: fixed !important;
    top: 0;
    z-index: 9999;
}

.navbar-brand{
    width: 8%;
    margin-left: 15% !important;
}

.nav-link{
    color: #333 !important;
    padding-right: 3rem !important;
}

.nav-link{
    font-weight: 600;
}

.nav-link:hover{
    color: #fff !important;
}

.item01{
    top: 12%;
    left: 10%;
    z-index: 999;
}

.item02{
    top: 55%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 999;
}

.item03{
    top: 15%;
    left: 20%;
    z-index: 999;
}

/* slide text effect */
#hero01, #hero02, #hero03{
    width: 100%;
    height: 100vh;
    z-index: 9999;
}
  
#hero01:before{
    content: "";
    background-color: #f08125;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#hero02:before{
    content: "";
    background-color: #2571ad;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#hero03:before{
    content: "";
    background-color: #bd3d37;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
  
#hero01 .hero-container{
    position: relative;
    z-index: 2;
    min-width: 905px;
}

#hero02 .hero-container{
    position: relative;
    z-index: 2;
    min-width: 905px;
}

#hero03 .hero-container{
    position: relative;
    z-index: 2;
    min-width: 605px;
}
  
#hero01 h1{
    margin: 0 0 10px 40%;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    color: #fff;
}

#hero02 h1{
    margin: 0 0 10px 60%;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    color: #fff;
}

#hero03 h1{
    margin: 0 0 10px 50%;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    color: #fff;
}
  
#hero01 p{
    color: #fff;
    margin-left: 40%;
    margin-bottom: 50px;
    font-size: 26px;
}

#hero02 p{
    color: #fff;
    margin-left: 60%;
    margin-bottom: 50px;
    font-size: 26px;
}

#hero03 p{
    color: #fff;
    margin-left: 50%;
    margin-bottom: 50px;
    font-size: 26px;
}
  
#hero01 p span{
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #b9ff67;
}

#hero02 p span{
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #fdff68;
}

#hero03 p span{
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #b9ff67;
}
  
@media(min-width: 1024px){
    #hero01{
      background-attachment: fixed;
    }
}
  
@media(max-width: 768px){
    #hero01 h1{
      font-size: 28px;
      line-height: 36px;
    }
    #hero01 h2{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
}

/* scroll icon */
.scroll-downs{
    position: fixed;
    bottom: 5%;
    left: 3%;
    margin: auto;
    z-index: 99999;
    width: 34px;
    height: 55px;
}

.mousey{
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller{
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll{
    0%{
        opacity: 0;
    }
    10%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(15px); opacity: 0;
    }
}

/* section 02 */
#sec02{
    margin-top: 10%;
}

.banner{
    width: 85%;
    margin: 10% 15% 5% 15%;
}

.single-banner {
	position: relative;
	z-index: 1;
}

.single-banner:hover::before {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.single-banner::before {
	position: absolute;
	left: 35px;
	top: 30px;
	border: 13px solid #333;
	content: "";
	opacity: 0.3;
	width: calc(100% - 70px);
	height: calc(100% - 60px);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.single-banner img {
	min-width: 100%;
}

.single-banner .inner-text {
	position: absolute;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

/* section 03 */
#sec03{
    margin-top: 10%;
}

.sec03-bg{
    width: 100%;
    padding: 80px;
    background-color: #eee;
    position: relative;
}

.history{
    line-height: 35px;
}

.cta-btn{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    background-color: #eee;
    border: 1px solid #333;
    color: #333;    
    margin-top: 3%;
}
  
.cta-btn:hover{
    background: #333;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* section 04 */



/* navigation */
.nav-dots{
    position: fixed;
    top: 40%;
    right: 0%;
    width: 78px;
    z-index: 9999;
}
.nav-dots .nav-link{ 
    display: block; 
    background: #eee; 
    border-radius: 100px; 
    margin-bottom: 5px; 
}
.nav-dots .nav-link:hover{
    background-color: #333 !important;
    color: #fff;
}
